/* --------------------------------------------------------------------------
 * jThemes Studio : Modern BOOK ME Template
 *
 * file           : style.css
 * Desc           : BOOK ME Template - Stylesheet
 * Version        : 
 * Date           : 
 * Author         : jThemes Studio
 * Author URI     : 
 * Email          : 
 *
 * jThemes Studio. Copyright 2016. All Rights Reserved.
 * -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
 *  BOOK ME Template - Table of Content

    1 - General
    1.1 - Preloader
    1.2 - Global properties (body, common classes, structure etc)
    1.3 - Page section block
    1.4 - Typography (section title, links, page dividers)
    1.5 - Buttons 
    1.6 - Form / Input / Textarea  
    1.7 - Theme Colors
    1.8 - Theme Fonts
    1.9 - Rating Stars

  2 - Home 
    2.1 - Home Videobg
    2.2 - Home Banner 
    2.3 - Home Image Slider
    2.4 - Home Text Slider
    2.5 - Check Availability
    2.6 - About Us
    2.7 - Gallery
    2.8 - Hotel Rooms
    2.9 - Home Blog
    2.10 - Testimonial
    2.11 - Our Dining
    2.12 - Contact Us

  3 - Blog Page
    3.1 - Breadcrumb
    3.2 - Sidebar
    3.3 - Blog Post   
    3.4 - Post Single  
    3.5 - Pagination
    3.6 - Responsiv   

  4 - Coming Soon
                 
  5 - Footer

  6 - Responsive

 * -------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Arapey:400,400i|Open+Sans:300,400,700,800');
@import 'https://fonts.googleapis.com/css?family=Oswald:300,400,700';

/******************************* 
    1 - GENERAL CSS STARTS 
********************************/

/*---------------- 1.1 Preloader Starts ------------------*/
#loading {  
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2000;   
    top: 0px;
    background: #fff; 
}
.spinner {
    left: 0;
    right: 0;
    top: 45%;
    width: 40px;
    height: 40px;
    position: relative;
    margin: auto;
}

.cube1, .cube2 {
    background-color: #333;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
    25% { 
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% { 
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% { 
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% { 
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% { 
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}
/*---------------- 1.1 Preloader Ends ------------------*/

/*---------------- 1.2 Global properties (body, common classes, structure etc) Starts ----------------------*/

body {     
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    background: #fff;
    color: #4c4c4c;
    font-size: 14px;
    overflow-x: hidden; 
}

.boxed .wrapper {
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 1200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.theme-container {
    padding-left: 0;
    padding-right: 0;
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.no-margin {
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
    transition: all 0.4s linear 0s;
    -webkit-transition: all 0.4s linear 0s;
}
.panel { background-color: inherit;}
.light-bg { background-color: #f2f2f2; }
.light-bg-1 { background-color: #fcfcfc; }
.white-bg { background-color: #fff; }
.black-bg { background-color: #000; }
.rel-div { position: relative; z-index: 1; }

.black-mask, .white-mask, .theme-mask {
    position: relative;
    transition: all 0.4s linear 0s;
    -webkit-transition: all 0.4s linear 0s;
}
.black-mask:before, .white-mask:before, .theme-mask:before {    
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;

    transition: all 0.4s linear 0s;
    -webkit-transition: all 0.4s linear 0s;
}
.black-mask:before {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
}
.white-mask:before {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
}

/*-- Titles --*/
.title-wrap {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}
.title-wrap > p {
    margin: 30px auto;
    width: 75%;
}
.section-title.wht {
    color: #fff;
}
.section-title {
    font-size: 80px;
    margin: 0;
    color: #2c2d2e;
    text-transform: capitalize;
}
.sub-title {
    font-size: 14px;
    letter-spacing: 5px;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.title-1 { font-size: 24px; text-transform: capitalize; font-weight: 400; color: #2c2d2e; }

.sub-detail {
    color: #000;  
    text-transform: uppercase;  
    letter-spacing: 6px;
    font-size: 21px;
}
.sub-detail.wht {
    color: #fff;
}
.white-clr .section-title, .white-clr .sub-detail, .white-clr a {
    color: #fff;
}
.white-clr a:hover {
    color: #a3a3a3;
}
/*-- Titles --*/

.white-clr { color: #fff; }
.black-clr { color: #000000; }
.gray-clr { color: #a3a3a3; }
.gray-light { color: #ccc; }
.red-clr { color: #000; }

.block-inline {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.list-items li {
    display: inline-block;
    margin: 0 5px;
}
.list-items { margin-bottom: 0; }

.to-top {
    background-color: #2c2d2e;
    border-radius: 50%;
    bottom: -150px;
    color: #fff;
    cursor: pointer;
    height: 55px;
    left: 0;
    line-height: 50px;
    margin: auto;
    position: fixed;
    right: 0;
    text-align: center;
    width: 55px;
    z-index: 999;
}
/*------------------- 1.2 Global properties (body, common classes, structure etc) Ends -----------------*/

/*---------------------- 1.3 Section Space Starts ----------------------------*/
.sec-space {
    padding-bottom: 82px;
    padding-top: 82px;
}
.ptb-15 {
    padding-bottom: 15px;
    padding-top: 15px;
}
.pb-15 { padding-bottom: 15px; }
.pt-15 { padding-top: 15px;}
.ptb-20 {
    padding-bottom: 20px;
    padding-top: 20px;
}
.pb-20 {padding-bottom: 20px;}
.pt-20 {padding-top: 20px;}
.ptb-25 {
    padding-bottom: 25px;
    padding-top: 25px;
}
.pb-25 { padding-bottom: 25px;}
.pt-25 {padding-top: 25px;}
.ptb-30 {
    padding-bottom: 30px;
    padding-top: 30px;
}
.pb-30 {padding-bottom: 30px;}
.pt-30 {padding-top: 30px;}
.ptb-40 {
    padding-bottom: 40px;
    padding-top: 40px;
}
.pb-40 {padding-bottom: 40px;}
.pt-40 {padding-top: 40px;}
.ptb-35 {
    padding-bottom: 35px;
    padding-top: 35px;
}
.pb-35 { padding-bottom: 35px;}
.pt-35 {padding-top: 35px;}
.ptb-50 {
    padding-bottom: 50px;
    padding-top: 50px;
}
.pb-50 {padding-bottom: 50px;}
.pt-50 { padding-top: 50px;}
.ptb-60 {
    padding-bottom: 60px;
    padding-top: 60px;
}
.pb-60 {padding-bottom: 60px;}
.pt-60 {padding-top: 60px;}
.ptb-70 {
    padding-bottom: 70px;
    padding-top: 70px;
}
.pb-70 {padding-bottom: 70px;}
.pt-70 { padding-top: 70px;}

.mb-10 { margin-bottom: 10px;}
.mt-30 { margin-top: 30px;}
/*---------------------------- 1.3 Page section block Ends ---------------------------*/

/*--------------------------- 1.4 Typography (section title, links, page dividers) Starts -------------------------- */
a:hover 
a:active,
a:focus,
.btn:hover, .btn:focus,.btn:active {  
    text-decoration: none;
    outline: 0;
}
a, .btn {
    -ms-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: #000;
}
a:hover,
a:active,
a:focus,
.smooth-trantn {
    text-decoration: none;
    -ms-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
p {
    margin-bottom: 15px;
    line-height: 1.7;
}
ul,
ol {
    padding-left: 0;
    list-style: none;
    margin-bottom: 20px;
}
ul ul,
ol ul,
ul ol,
ol ol {
    padding-left: 20px;
}
h2,h3,h4,h5,h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*------------------------ 1.4 Typography (section title, links, page dividers) Ends ---------------------- */

/*--------------------------- 1.5 Buttons Starts ---------------------- */

/* Common Button CSS  */
.theme-btn {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 55px;
    color: #fff;
    min-width: 265px;
    line-height: 55px;
    outline: medium none;
    vertical-align: middle;
    padding: 0 10px;  
    text-align: center;
    text-transform: uppercase;
    z-index: 1;

    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
.small-btn {
    height: 40px;  
    line-height: 40px;
    min-width: 160px;
}
.theme-btn .fa {
    border-right: 2px solid;
    float: left;
    line-height: 43px;  
    margin-left: -10px;
    margin-right: 10px;
    width: 40px;
}
.btn-black {
    background-color: #000;
    color: #fff;
}
.btn-black:hover, .btn-black:focus {color: #fff;}
.clr-btn:hover, .clr-btn:focus {
    background-color: #000;
    color: #fff;
}
.btn-1 {
    //border-bottom: 3px solid #4a4945;
    //border-left: 3px solid #4a4945;
    color: #4a4945;
    min-width: 235px;
    position: relative;
}
.theme-btn i {
    font-size: 20px;
    line-height: normal;
    vertical-align: middle;
    width: 20px;
}
.border-effect::before {
    position: absolute;  
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: #4a4945;
    content: '';
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
}

.border-effect::after {
    background: #4a4945 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    width: 3px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}
.btn-1::before {
    position: absolute;
    opacity: 0;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    background: #4a4945;
    content: '';
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
}

.btn-1::after {
    position: absolute;
    opacity: 0;
    bottom: 0;
    right: 0;
    width: 3px;
    height: 3px;
    background: #4a4945;
    content: '';
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.btn-1:hover::before {
    bottom: 100%;
    width: 100%;
    opacity: 1;
}

.btn-1:hover::after {
    height: 100%;
    opacity: 1;
}

/*-- ./ Common Button CSS --*/

/*------------------------ 1.5 Buttons Ends ---------------------------- */

/*----------------------- 1.6 Form / Input / Textarea Starts --------------------------- */

.form-group {
    margin-bottom: 15px;
}
.form-control, .input-group-addon, .bootstrap-select .btn {
    background-color: rgba(0, 0, 0, 0);
    border-color: #f4f4f4;
    border-radius: 0;
    box-shadow: none;
    color: #a3a3a3;
    text-transform: capitalize;
    font-size: 14px;
    height: 45px;
    vertical-align: middle;    
    padding: 10px 20px;
}
.form-control.submit-btn {
    height: auto;
    line-height: normal;
}
.form-alert {
    margin: 0;
}
textarea.form-control {
    height: auto !important;
}
label {font-weight: normal;}
/*-- Checkbox/Radiobox Starts --*/
[type="checkbox"], .form-group [type="radio"] {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.checkbox-inline, .form-group .radio-inline {
    margin: 0;
    padding-left: 0;
    line-height: 1.2;
    color: #a3a3a3;
    vertical-align: -moz-middle-with-baseline;
}

[type="checkbox"] + span, [type="radio"] + span {
    border: 1px solid #a3a3a3;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin-right: 8px;
    position: relative;
    width: 10px;
}
[type="checkbox"]:checked + span, .checkbox-inline:hover [type="checkbox"] + span,
[type="radio"]:checked + span, .radio-inline:hover [type="checkbox"] + span {
    border-color: #000;
}
[type="checkbox"]:checked + span::before, [type="radio"]:checked + span::before {
    background-color: #000;
    bottom: 0;
    content: "";
    display: block;
    height: 6px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
}

/*-- Checkbox/Radiobox Ends --*/

/*--Bootstrap Select--*/
.bootstrap-select .btn .filter-option {
    color: #000000;
    line-height: 25px;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
    border: none;
    margin-top: 0; 
    right: 30px;
    top: 0;
}
.bootstrap-select.btn-group .dropdown-toggle .caret:after {
    content: "\f0d7";
    font-family: fontawesome;
    font-size: 13px;
    color: #000;
}
.bootstrap-select .btn-default.active.focus, .bootstrap-select .btn-default.active:focus, .bootstrap-select .btn-default.active:hover, 
.bootstrap-select .btn-default.focus:active, .bootstrap-select .btn-default:active:focus, .bootstrap-select .btn-default:active:hover, 
.bootstrap-select > .dropdown-toggle.btn-default.focus, .bootstrap-select > .dropdown-toggle.btn-default:focus, 
.bootstrap-select > .dropdown-toggle.btn-default:hover {
    background-color: transparent;
    border-color: #cccccc;
}
.bootstrap-select .dropdown-toggle:focus {
    outline: 0 none !important;
    outline-offset: 0;
}

::-webkit-input-placeholder {
    color: #a3a3a3 ;
}
:-moz-placeholder {
    color: #a3a3a3;
}
::-moz-placeholder {
    color: #a3a3a3;
}
:-ms-input-placeholder {
    color: #a3a3a3;
}

.form-control::-webkit-input-placeholder {
    color: #a3a3a3;
    opacity: 1;
}
.form-control::-moz-placeholder {
    color: #a3a3a3;
    opacity: 1;
}
.form-control::-ms-input-placeholder {
    color: #a3a3a3;
    opacity: 1;
}
.form-control:focus {
    background-color: transparent;
    border-color: #e7e8ec;
    box-shadow: none;
    outline: 0 none;
}
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    outline: 0;
}
input:focus::-webkit-input-placeholder {
    color: transparent !important;
}
input:focus:-moz-placeholder {
    color: transparent !important;
}
input:focus::-moz-placeholder {
    color: transparent !important;
}
input:focus:-ms-input-placeholder {
    color: transparent !important;
}
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}
textarea:focus:-moz-placeholder {
    color: transparent !important;
}
textarea:focus::-moz-placeholder {
    color: transparent !important;
}
textarea:focus:-ms-input-placeholder {
    color: transparent !important;
}


/*---------------------------- 1.6 Form / Input / Textarea Ends ------------------------------ */

/*----------------------- 1.7 Theme Colors Starts --------------------------- */
a:hover,
a:active,
a:focus {
    color: #d4bd6d;
}
.theme-clr, .sub-title, .primary-navbar li > a:hover, .primary-navbar li > a:focus, .primary-navbar > li > a.active, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color: #d4bd6d;
}
.clr-btn, .btn-black:hover, .btn-black:focus {
    background-color: #d4bd6d;
}
.theme-mask:before {
    background: rgba(212, 189, 109, 0.3) none repeat scroll 0 0;
}

/*----------------------- 1.7 Theme Colors Ends --------------------------- */

/*-------------------------- 1.8 Theme Fonts Starts ------------------- */

.font-2, .section-title, .title-1, .widget-title, .blog-title { font-family: 'Arapey', serif; }
.font-1, .sub-title { font-family: 'Oswald', sans-serif; }
.normal-font { font-weight: normal;}
.bold-font { font-weight: bold; }
.italic-font { font-style: italic; }
.extra-bold-font { font-weight: 800; }
.light-font { font-weight: 300; }
.upper-text { text-transform: uppercase; }
.normal-text { text-transform: none; }
.capital-text { text-transform: capitalize; }

.fsz-8 { font-size: 8px; }
.fsz-10 { font-size: 10px; }
.fsz-12 { font-size: 12px; }
.fsz-14 { font-size: 14px; }
.fsz-15 { font-size: 15px; }
.fsz-16 { font-size: 16px; }
.fsz-18 { font-size: 18px; }
.fsz-20 { font-size: 20px; }
.fsz-24 { font-size: 24px; }
.fsz-34 { font-size: 34px; }
.fsz-48 { font-size: 48px; }
.fsz-56 { font-size: 56px; }
.fsz-86 { font-size: 86px; }


.fw-900 { font-weight: 900; }
.fw-600 { font-weight: 600; }
.fw-500 { font-weight: 500; }
.fw-300 { font-weight: 300; }

/*-------------------------1.8 Theme Fonts Ends--------------------- */

/*-------------------------  1.9 - Rating Stars Starts --------------------- */

/*.rating .star {
    cursor: pointer;     
}*/
.rating span.star::before {
    color: #ccc;
    font-size: 15px;
    content: "\f005";    
    font-family: FontAwesome;
}
.rating span.star.active::before {
    color: #000;
}
.rating span.star.half:before {
    color: #000;
    content: "\f089";    
    font-family: FontAwesome;
}

/*------------------------- 1.9 - Rating Stars Ends --------------------- */


/******************************* 
    1 - GENERAL CSS ENDS 
********************************/


/******************************* 
    2 - HOME CSS STARTS 
********************************/

/*---------------------- 2.1 - Home Videobg Starts ---------------------------- */
.video-bg:before {z-index: 1;}
.video-bg {
   background-image: url(../img/video-poster.jpg);
    position: relative;
    padding: 170px 0 0;
    height: 760px;
    width: 100%;
    margin: auto;
    display: inline-block;
    z-index: 1;
}
.banner-content > i {
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    width: 60px;
    cursor: pointer;
    margin-top: 30px;
}
#play {
    display: none;
}
.banner-content .section-title {
    font-size: 150px;
    margin-bottom: 10px;
    margin-top: 30px;
}
@media (max-width: 1200px){
    .video-bg {height: 575px; padding: 5% 0 ;}
}
@media (max-width: 991px){
    .video-bg {height: 430px; padding: 5% 0 0;}
}
@media (max-width: 767px){
    .video-bg {height: 430px; padding: 5% 0;}
}
@media (max-width: 600px){
    .video-bg {height: 338px; padding: 5% 0;}
    .video-bg .banner-content > i {margin-top: 15px;}
}
@media (max-width: 568px){
    .video-bg {height: 320px; padding: 5% 0;}   
}
@media (max-width: 480px){
    .video-bg {height: 270px; padding: 0;}
    .video-bg .sub-detail {font-size: 10px;}
}
@media (max-width: 380px){
    .video-bg {height: 205px; padding: 10% 0 0;}
    .video-bg .sub-detail {display: none;}
}
@media (max-width: 320px){
    .video-bg {height: 180px; padding: 10% 0 0;}    
}
/*---------------------- 2.1 - Home Videobg Ends ---------------------------- */

/*---------------------- 2.2 - Home Banner Starts ---------------------------- */
#canvas-bg {
    position: relative;
    width: 100%;
    z-index: 1; 
    overflow: hidden;    
}
.banner-bg {
    background-image: url(../img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 10%;
    padding-bottom: 10%;
    height: auto !important;
}

#banner-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.canvas-section {
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;    
}
/*---------------------- 2.2 - Home Banner Ends ---------------------------- */

/*---------------------- 2.3 - Home Image Slider Starts ---------------------------- */
.main-slider .slides > li { 
    width: 100%;
    display: none; 
    -webkit-backface-visibility: hidden; 
    background-size: cover;
    background-position: center center;
}
.main-slider .theme-container {
    padding-top: 8%;
    padding-bottom: 8%;
}
.flex-caption.content, .flex-caption.video {
    padding-bottom: 5%;
}
.flex-caption .theme-box{ margin: 0;}
.inquiry-form.light {
    background-color: rgba(255, 255, 255, 0.8);
}
.inquiry-form.dark {
    background-color: rgba(0, 0, 0, 0.8);
}
.inquiry-form {
    padding: 15px 25px;
}
.inquiry-form .sub-title {
    margin-bottom: 25px;
}
.inquiry-form .form-group i{
    font-size: 18px;
    position: absolute;
    right: 15px;
    top: 14px;
}
.inquiry-form.form-icon .form-group { margin-bottom: 15px; }

.fullscreen-slider .flexslider-nav .prev {
    left: 30px;
}
.fullscreen-slider .flexslider-nav .next {
    right: 30px;
}
/*---------------------- 2.3 - Home Image Slider Ends ---------------------------- */

/*---------------------- 2.4 - Home Text Slider Starts ---------------------------- */
.slider-fixbg .main-slider {
    background-attachment: fixed;
    background-image: url("../img/slider-4.jpg");
    background-position: center top;
    background-size: cover;
}
.slider-fixbg .main-slider .theme-container {
    padding-top: 12%;
}
/*---------------------- 2.4 - Home Text Slider Starts ---------------------------- */

/*---------------------- 2.5 Check Availability Starts ---------------------------- */
.availability {
    border-bottom: 1px solid #dedede;
}
.availability .availability-info > li {
    display: inline-block;
    vertical-align: middle;
}
.availability .details {
    display: table;
    margin: auto;
}
.availability-info > li > div >  span {
    color: #6d6d6d;
    display: block;
    font-size: 12px;
}
.availability .details .title {
    font-size: 12px;
}
.availability .details .title {
    display: block;
    font-size: 24px;
    line-height: normal;
    margin: 0;
}
.availability .details .date-formet {
    border: 1px solid #dedede;
    line-height: normal;
    margin-top: 5px;
    padding: 5px 10px;
    width: 125px;
}
.availability .availability-info li > i {
    width: 20px;
    vertical-align: middle;
}
.availability .availability-info li > div {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}
.availability .availability-info {
    display: inline-block;
    margin-bottom: 30px;
    vertical-align: middle;
    margin-top: 30px;
    margin-right: 50px;
}
.availability .availability-info > li + li {
    border-left: 1px solid #dedede;
    margin-left: 30px;
    padding-left: 30px;
}
.room-guests .btn-default {
    border: medium none;
    height: auto;
    line-height: normal;
    padding: 0;
    width: auto;
}
.room-guests .btn-default .filter-option {
    font-size: 24px;
    text-transform: none;
}
.room-guests .bootstrap-select.btn-group .dropdown-toggle .caret::after {
    content: "";
}
.room-guests .search-selectpicker {
    display: inline-block;
}

/*---------------------- 2.5 Check Availability Ends ---------------------------- */

/*---------------------- 2.6 About Us  Starts ---------------------------- */
.our-feature .details i {
    font-size: 46px;
}
.our-feature .details .title-1 {
    display: inline-block;
    width: 100%;
}
.our-feature .details + .details {
    border-left: 2px solid #f4f4f4;
}
.our-feature .details {
    margin-top: 45px;
}
/*---------------------- 2.6 About Us Ends ---------------------------- */

/*---------------------- 2.7 Gallery Starts ---------------------------- */
.gallery-wrap {
    padding: 130px 0 0;
}
.gallery-bg {
    background-color: #faf8f0;
    text-align: center;
}
.gallery-slider {
    margin-top: -130px;
    padding-bottom: 53px;
}
.flexslider, .theme-box {
    background-color: #fff;
    border: medium none;
    border-radius: 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    padding: 20px;
    margin: 0 0 60px;
}
.flex-control-nav {
    bottom: 40px;
    left: 0;
    z-index: 10;
}
.flex-control-paging li a {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #fff;  
    box-shadow: none;
}
.flex-control-paging li a.flex-active, .flex-control-paging li a:hover {
    background: #fff;
}
.flexslider-nav span {
    bottom: 0;
    position: absolute;
    top: 0;
    height: 30px;
    line-height: normal;
    cursor: pointer;
    margin: auto;
}
.flexslider-nav .prev {
    left: -60px;
}
.flexslider-nav .next {
    right: -60px;
}
.flexslider-nav i {
    font-size: 35px;
}
.flexslider > img {
    display: block;
    margin: auto;
}
.next .material-icons.arrow {
    margin-left: -25px;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
}
.next .material-icons.dash {
    font-size: 41px;
}
.prev .material-icons.arrow {
    margin-right: -25px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
}
.prev .material-icons.dash {
    font-size: 41px;
}

/*---------------------- 2.7 Gallery Ends ---------------------------- */

/*---------------------- 2.8 Hotel Rooms Starts ---------------------------- */
.hotel-wrap {
    background-color: #f9f9f9;
    padding: 80px 0 0;
}
.hotel-rooms {
    color: #fff;
    margin: 80px 0 0;
    position: relative;
}
.hotel-rooms::before {
    background-color: #2c2d2e;
    bottom: 0;
    content: "";
    top: 13%;
    position: absolute;
    right: 0;
    width: 50%;
}
.hotel-detail {
    padding-left: 40px;
    padding-top: 130px;
}
.hotel-detail ul {
    list-style: inside none disc;
    margin: 15px 0 30px;
    padding: 0;
}
.hotel-detail ul li {
    padding: 7px;
}
.start-frm i {
    vertical-align: middle;
    font-size: 16px;
    line-height: normal;
}
.start-frm {
    border: 2px solid;
    display: inline-block;
    height: 75px;
    line-height: 75px;
    margin-right: -5px;
    text-align: center;
    vertical-align: middle;
    width: 205px;
    font-size: 24px;
}
.start-frm span {
    vertical-align: middle;
}
.price-tag .theme-btn {
    min-width: 180px;
}
.hotel-wrap .flexslider {
    margin-bottom: 25px;
    margin-left: 5px;
    margin-top: 15px;
}
.hotel-wrap .all-photo {
    padding: 0 0 40px;
}
.hotel-wrap .all-photo .theme-btn {
    min-width: 165px;
}
.hotel-rooms .flexslider-nav span {
    bottom: auto;
    top: 20%;
}
.hotel-rooms .flexslider-nav .next {
    right: 0;
}
.hotel-rooms .flexslider-nav .prev {
    left: auto;
    right: 60px;
}
/*---------------------- 2.8 Hotel Rooms Ends ---------------------------- */

/*---------------------- 2.9 Blog Starts ---------------------------- */
.img-hover {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}
.img-effect:hover .img-hover > img {
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1)
}
.widget-title {
    color: #000;
    border-bottom: 1px solid #000000;
    margin: 0 0 25px;
    padding-bottom: 20px;
    font-size: 24px;
}
.home-blog {
    clear: both;
    padding: 80px 0;
}
.blog-bg {
    clear: both;
    color: #fff;
    margin: 100px 0 0;
    position: relative;
}
.blog-bg::before {
    background-color: #2c2d2e;
    bottom: 20%;
    content: "";
    left: 0;
    position: absolute;
    top: 13%;
    width: 50%;
}
.blog-detail {
    padding-top: 110px;
}
.blog-detail .section-title {
    margin: 20px 0;
}
.blog-bg .all-photo {
    bottom: -25%;
    position: absolute;
}
.blog-bg .all-photo .theme-btn {
    min-width: 165px;
}
.blog-bg .flexslider-nav span {
    bottom: auto;
    top: 18%;
}
.blog-bg .flexslider-nav .next {
    right: 60%;
}
.blog-bg .flexslider-nav .prev {
    left: 30%;
}
.blog-flexslider .flexslider {
    margin-right: 10px;
    margin-top: 15px;
}
/*---------------------- 2.9 Blog Ends ---------------------------- */

/*---------------------- 2.10 Testimonial Starts ---------------------------- */
.testimonial-wrap {
    background-image: url("../img/testimonial-bg.jpg");
    padding: 100px 0 40px;
}
.testimonial-flexslider.flexslider {
    padding: 80px 20px;
}
.testimonial-wrap .title-wrap > p {
    font-size: 24px;
    line-height: 1.4;
    width: 85%;
}
.testimonial-slider .flexslider-nav .prev {
    left: 25px;
}
.testimonial-slider .flexslider-nav .next {
    right: 25px;
}
/*---------------------- 2.10 Testimonial Ends ---------------------------- */

/*---------------------- 2.11 Our Dining Starts ---------------------------- */
.theme-tabs {   
    display: table;
    font-weight: 600;
    margin: 30px auto;
    text-align: center;
    text-transform: uppercase;
    width: 45%;
    overflow: hidden;
}
.theme-tabs li {
    border: 2px solid #000;
    display: inline-table;
    margin-left: -4px;
    vertical-align: middle;
    width: 32.8%;
}
.theme-tabs li + li {
    border-left: 0;
}
.theme-tabs li a:hover, .theme-tabs li a:focus, .theme-tabs li.active a {
    background-color: #000;
    color: #fff;
}
.dining-wrap {
    clear: both;
    padding: 80px 0 40px;
    background-image: url(../img/dining-bg.jpg);
}
.dining-content .isotope-item {
    padding-top: 30px;
}
.dining-item {
    margin-bottom: 25px;
}
.dining-item .title-1 {
    font-size: 34px;
}
.dining-item p {
    margin-bottom: 0;
}
.dining-item .price {
    font-size: 28px;
}

/*---------------------- 2.11 Our Dining Ends ---------------------------- */

/*---------------------- 2.12 Contact Us Starts ---------------------------- */
.contact-us {
    background-color: #2c2d2e;
    padding: 100px 0 40px;
    color: #fff;
}
.contact-us .address {
    margin-top: 40px;
}
.contact-detail {
    padding-left: 60px;
    padding-right: 0;
}
#map{height: 400px;}
.contact-detail p.font-2 {
    line-height: 1.2;
    margin: 5px 0 20px;
}
.socia-link {
    text-align: right;
}
/*---------------------- 2.12 Contact Us Ends ---------------------------- */

/******************************* 
    2 - HOME CSS ENDS 
********************************/

/******************************* 
    3 - BLOG PAGE CSS STARTS 
********************************/
/*--------- 3.1 Breadcrumb Starts ---------- */
.breadcrumb-bg {
    background-image: url("../img/breadcrumb-bg.jpg"); 
    background-repeat: no-repeat;   
    padding: 45px 0;
}
.site-breadcumb .section-title {
    font-size: 30px;
}
.breadcrumb-menubar{background:transparent none repeat scroll 0 0; margin:7px 0 0; padding:0}
.breadcrumb-menubar > li{text-transform:uppercase;  font-weight: 500; color: #fff; width: 100%; }
.breadcrumb-menubar > li > a {color: #fff;}
.breadcrumb-menubar > li > a:after{
    content: "\f105";
    font-family: FontAwesome;
    color: #fff;
    padding: 0 3px;
}
/*--------- 3.1 Breadcrumb Ends ---------- */

/*--------- 3.2 Sidebar Starts ---------- */

.widget-wrap {
    display: inline-block;
    width: 100%;
    margin-bottom: 35px;
}
.widget-wrap > ul, .widget-wrap > ul li:last-child {
    margin-bottom: 0;
}

/*---- Search Widget ----*/
.widget-search > button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    position: absolute;
    right: 25px;
    top: 13px;
}

/*---- Category Widget ----*/
.cate-panel {
    margin-bottom: 0;
}
.cate-panel .accordion-toggle {
    line-height: 25px;
    display: inline-block;
    padding-bottom: 20px;
    width: 100%;
}
.cate-panel .panel {
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    border-bottom: 1px dotted #a3a3a3;
    margin-bottom: 18px;
}
.cate-panel .panel-collapse ul {
    display: inline-block;
    margin: 5px 0;
    padding-left: 20px;
    width: 100%;
}
.cate-panel .panel-collapse li {
    margin-bottom: 15px;
}
.cate-panel .plus-icon {    
    float: right;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    width: 25px;
}
.cate-panel .panel:last-child {
    margin-bottom: 0;
}

/*---- Recent Post Widget ----*/
.post-widget .post-img {
    display: table-cell;
}
.post-widget .details {
    display: table-cell;
    padding-left: 15px;
    vertical-align: top;
}
.post-widget .blog-title {
    font-size: 18px;
}
.post-widget > li {
    border-bottom: 1px dotted #a3a3a3;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 25px;
    width: 100%;
}
.more-post {
    margin-top: 20px;
}

/*---- Twitter Widget ----*/
.tweet-icn {
    display: inline-block;
    font-size: 18px;
    vertical-align: top;
    width: 35px;
}
.tweet-info {
    display: inline-block;
    width: calc(100% - 40px);
}
.tweet-info a {
    font-size: 12px;
    display: block;
}
.tweet-wrap > li {
    border-bottom: 1px dotted #a3a3a3;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.tweet-info > p {
    margin-bottom: 10px;
}

/*---- Flickr Widget ----*/
.widget-wrap .flickr-feed li {
    float: left;
    margin: 0 8px 10px 0;
}


/*---- Tags Widget ----*/

.tag-cloud a {
    border: 2px solid #000000;
    display: inline-block;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 10px;
    padding: 0 20px;
    text-transform: uppercase;
}
.tag-cloud a:hover {
    background-color: #000;
    color: #fff;
}
/*--------- 3.2 Sidebar Ends ---------- */


/*--------- 3.3 Theme Blog Single Starts ---------- */
.blog-wrap {
    margin-bottom: 50px;
}
.blog-img {
    position: relative;
}
.btn-play {
    background-color: #fff;
    border-radius: 50%;
    bottom: 0;
    color: #000;
    font-size: 20px;
    height: 60px;
    left: 0;
    line-height: 60px;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 60px;
}

.blog-title {
    font-size: 40px;
    text-transform: capitalize;
}
.blog-wrap .flexslider, .blog-wrap .theme-box {
    margin-bottom: 30px;
}

.blog-meta li {
    font-size: 12px;
    margin-top: 10px;
}
.blog-meta li i {
    font-size: 14px;
    padding-right: 3px;
}
.blog-content {
    padding: 15px 0;
}
.blog-page-wrap .read-more .theme-btn {
    margin-right: 15px;
}
.meta-icon  {
    border: 2px solid #000000;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 35px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 40px;
}
.media-box {
    position: relative;
    width: 45%;
}
.media-box, .media-box > ul li {
    display: inline-block;
    vertical-align: middle;    
}
.media-box ul {
    border: 2px solid #000000;
    border-left: 0;
    display: inline-block;
    height: 40px;
    line-height: 35px;   
    margin: 0;
    padding: 0 7px;    
    vertical-align: middle;
    opacity: 0;
    visibility: hidden;
    position: absolute;  
    width: 120px;

    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
}
.media-box:hover ul{
    opacity: 1;
    visibility: visible;   
}
.media-box ul li a {
    margin: 0 5px;
}

.blog-wrap blockquote {
    padding: 20px 20px 50px 20px;
    border-color: #000;    
    position: relative;
}
.blog-wrap blockquote:after {
    content: '\f10e';
    font-family: 'FontAwesome';
    font-size: 60px;
    line-height: 60px;
    display: block;
    position: absolute;
    right: 20px;
    bottom: 7px;
    opacity: .1;
}

/*--------- 3.3 Theme Blog Starts ---------- */

/*--------- 3.4 Theme Blog Single Starts ---------- */
.title-2 {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin: 0;
    text-transform: capitalize;
}
.auther-wrap {
    border: 1px solid #dadada;
    background-color: #f2f2f2;    
    margin: 0 0 35px;
}
.auther-detail {
    border-left: 1px solid #dadada;
}
.auther-detail .title-2 {margin-bottom: 20px;}
.auther-detail ul {
    margin-bottom: 10px;
    margin-right: -10px;
    text-align: right;
}
.auther-detail ul li { padding: 0 5px; }
.auther-detail ul li a { padding: 10px 5px; }
.auther-detail p {margin-bottom: 0;}
.auther-img > img {
    border-radius: 50%;
}
.rel-blog-slider .blog-title {
    font-size: 26px;
}
.rel-blog-slider .flexslider-nav span {
    bottom: auto;   
    top: -65px;
}
.rel-blog-slider .flexslider-nav .prev {
    left: auto;
    right: 60px;
}
.rel-blog-slider .flexslider-nav .next {
    right: 0;
}

/*Comment css*/
.comments .comment-avatar { padding-right: 35px; }
.comment-meta {
    display: inline-block;
    margin: 10px 0 20px;
    width: 100%;
}
.rel-blog-slider .blog-wrap .flexslider {
    margin: 10px 10px 30px;
}
.comment-meta .admin, .comment-meta .reply {
    border: 2px solid #000000;
    display: inline-block;
    height: 30px;
    line-height: 28px;
    margin-right: 15px;
    padding: 0 10px;
    text-transform: capitalize;
    vertical-align: middle;
    font-weight: 600;
}
.comment-meta .admin:hover, .comment-meta .reply:hover {
    background-color: #000; color: #fff;
}
.comment-meta .title-2 {
    margin-right: 15px;
    vertical-align: middle;
}
.comment-meta .reply {
    float: right;
    margin-right: 0;
}
.comment-meta .reply i {
    margin-right: 8px;
}
.comment-text {
    clear: both;
}
.media.comment {
    margin-top: 30px;
    border-bottom: 1px dotted #a3a3a3;
}
.comment-wrap .media-object {
    border-radius: 50%;
}

.media.comment-child {
    border-left: 2px solid #000000;
    border-top: 1px dotted #a3a3a3;
    margin-top: 0;
    padding-left: 35px;
    padding-top: 30px;
}

.reply-form .theme-btn {
    margin-right: 15px;
}
.form-icon .form-control {
    border: 2px solid #e0e0e0;
    text-transform: capitalize;
}
.form-icon  .form-group {
    margin-bottom: 25px; position: relative;
}
.form-group .fa {
    position: absolute;
    right: 35px;
    top: 40px;
}
.form-group.no-label  .fa{
    top: 15px;
}
/*--------- 3.4 Theme Blog Single Ends ---------- */

/*--------- 3.5 Pagination Starts ---------- */
.pagination-wrap {
    border-top: 1px solid #000000;
    padding-top: 30px;
}
.pagination-1 {
    margin: 0;
}
.pagination-1 > li {
    display: inline-block;
    margin: 0 4px;
    vertical-align: middle;
}
.pagination-1 > li a {
    border: 2px solid #000000;
    display: inline-block;
    font-weight: 600;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    width: 45px;
}
.pagination-1 > li a:hover, .pagination-1 > li a:focus, .pagination-1 > li a.active {
    background-color: #000000;
    color: #ffffff;
}
/*--------- 3.5 Pagination Ends ---------- */

/*-----  3.6 Theme Blog Responsive Starts -----*/
@media (min-width:768px) and (max-width:992px) {
    .comments .comment-date {
        display: block;
        margin-top: 10px;
    }
}
@media (max-width: 767px) {
    .blog-title {
        font-size: 30px;
    }
    #blog-page .post-wrap, #blog-single-page .single-post {
        margin-bottom: 50px;
    }
    #blog-page-left .post-wrap {
        margin-top: 50px;
    }
}
@media (max-width:567px) {  
    .comments .comment-avatar {
        float: none !important;
    }
    .comments .comment-date {
        display: block;
        margin-top: 10px;
    }
}
/*----- 3.6 Theme Blog Responsive Ends -----*/

/******************************* 
   3 - BLOG PAGE CSS ENDS 
********************************/

/******************************* 
   4 - COMINGSOON CSS STARTS 
********************************/
.countdown-section {
    display: inline-block;
    margin: 0 15px;
    text-align: center;
}
.countdown-amount { 
    display: inline-block;
    font-size: 80px;
    height: 100px;
    line-height: normal;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
}
.countdown-period {
    clear: both;
    display: block;
    font-size: 16px;
    line-height: normal;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
}
.coming-wrap {
    background-image: url(../img/slider-2.jpg);
    background-size: cover;
    position: relative;
    border-radius: 0;
    padding: 5.5% 0;
}
@media (max-width: 767px) {
    .countdown-amount {
        font-size: 44px;
        height: auto;
    }
    .countdown-period {
        font-size: 14px;
        margin-bottom: 15px;
    }

}
@media (max-width: 380px) {
    .countdown-section {margin: 0 5px;}
    .countdown-amount {font-size: 34px;}
}
/******************************* 
   4 - COMINGSOON CSS ENDS 
********************************/


/******************************* 
    5 - FOOTER CSS STARTS 
********************************/
.footer-wrap {
    background-color: #faf8f0;
}
.footer-wrap .primary-navbar {
    float: none;
    text-align: left;
}
.socia-link > p {
    font-size: 26px;
    margin: 10px 0;
}
.socia-link li + li {
    padding-left: 25px;
}
.socia-link li a {
    font-size: 16px;
}
.footer-1 {
    padding: 20px 0;
}
.footer-1 .primary-navbar > li > a {
    padding: 0;
}
.footer-1 .primary-navbar > li + li::before {
    top: 15%;
}

/******************************* 
    5 - FOOTER CSS ENDS 
********************************/

/******************************* 
    6 - RESPONSIVE STARTS 
********************************/

@media (max-width:1200px) {
    .theme-container {
        padding-left: 15px;
        padding-right: 15px;
    }  
}

@media (min-width:992px)and (max-width:1199px) {
    .banner-content .section-title {
        font-size: 100px;
    }
    .start-frm {  width: 170px; }
    .blog-detail {
        padding-bottom: 40px;
    }

    .blog-bg::before {
        bottom: 0;
    }
    .contact-detail {
        padding-left: 20px;
    }
    .footer-wrap .primary-navbar {
        margin-top: 25px;
    }

}
@media (min-width:768px) {
    .slider-fixbg .main-header {
        background-color: rgba(255, 255, 255, 0.5);
        position: fixed;
        top: 0;
    }
}

@media (min-width:768px)and (max-width:991px) {

    /*-- Common CSS --*/
    .section-title {font-size: 56px;}
    .fsz-34 {
        font-size: 28px;
    }
    .sub-detail {
        font-size: 18px;
    }
    .flexslider-nav .prev {
        left: -30px;
    }
    .flexslider-nav .next {
        right: -30px;
    }

    /*Home*/
    .banner-content .section-title {
        font-size: 70px;
    }
    .slider-fixbg .main-slider .theme-container {
        padding-top: 18%;
    }
    .availability .details > .theme-btn {
        font-size: 12px;
        min-width: 160px;
    }
    .availability .details > ul {
        margin-right: 20px;
    }
    .availability .details li + li {
        margin-left: 15px;
        padding-left: 15px;
    }
    .hotel-rooms::before {
        width: 100%;
    }
    .hotel-detail{
        padding-bottom: 55px;
        padding-top: 35px;
    }
    .hotel-rooms .flexslider-nav .prev {
        left: 35px;
        right: auto;
    }
    .hotel-rooms .flexslider-nav .next {
        right: 35px;
    }
    .hotel-wrap .all-photo a:before, .hotel-wrap .all-photo a:after, .hotel-wrap .border-effect::before, .hotel-wrap .border-effect::after,
    .blog-detail .all-photo a:before, .blog-detail .all-photo a:after, .blog-detail .border-effect::before, .blog-detail .border-effect::after{
        background-color: #fff;
    }
    .hotel-wrap .all-photo {
        padding: 0;
    }
    .hotel-wrap .all-photo a {
        color: #fff;
        padding: 0;
        position: absolute;
        right: 20px;;
        top: 55%;
    }

    .blog-bg .all-photo {
        bottom: 0;
    }
    .blog-bg::before {
        width: 100%;
        top: 0;
    }
    .blog-detail {
        margin-bottom: 50px;
        padding-bottom: 70px;
        padding-top: 50px;
    }
    .blog-bg .flexslider-nav .prev {
        left: auto;
        right: 70px;
    }
    .blog-bg .flexslider-nav .next {
        right: 15px;
    }
    .blog-bg .flexslider-nav span {
        bottom: auto;
        top: 5%;
    }

    .theme-tabs {
        width: 70%;
    }
    /*Footer*/
    .footer-wrap .primary-navbar, .socia-link {
        text-align: left;
    }

    .socia-link .list-inline {
        margin-bottom: 0;
    }

}
@media (max-width:767px) {

    /*-- Common CSS --*/
    body {
        font-size: 12px;
    }
    .theme-btn {
        font-size: 12px;
        min-width: 150px;
        height: 45px;
        line-height: 45px;
    }
    .small-btn {
        height: 35px;
        line-height: 35px;
    }
    .sec-space {
        padding-bottom: 52px;
        padding-top: 52px;
    }
    .section-title {
        font-size: 34px;
    }
    .fsz-56 {
        font-size: 44px;
    }
    .fsz-34 {
        font-size: 22px;
    }
    .flexslider-nav .prev {
        left: -30px;
    }
    .flexslider-nav .next {
        right: -30px;
    }
    .sub-title {
        font-size: 12px;
    }
    .title-1 {font-size: 20px;}


    /*Home*/

    .banner-bg {
        height: auto;
        padding: 25px 0;
    }
    .inquiry-form .sub-title {
        margin-bottom: 15px;
    }
    .flex-caption .theme-box {
        padding: 5px;
    }
    .flex-caption.content .theme-btn {
        margin-top: 10px;
    }
    .main-slider .flex-control-nav {
        bottom: 20px;
    }
    .inquiry-form {
        padding: 10px 15px;
    }
    .inquiry-form.form-icon .form-group {
        margin-bottom: 8px;
    }
    .inquiry-form.form-icon .form-control {
        border-width: 1px;
        font-size: 12px;
        height: 35px;
        padding: 10px;
    }
    .inquiry-form .form-group i {
        font-size: 12px;
        right: 10px;
        top: 12px;
    }

    .sub-detail {
        font-size: 14px;
    }
    .our-feature .details {
        margin-top: 0;
    }
    .our-feature .details + .details {
        margin-top: 30px;
    }
    .banner-content .section-title {
        font-size: 48px;
    }
    .availability .details > ul {
        margin-right: 0;width: 100%;
    }
    .availability .details .title {
        font-size: 20px;
    }
    .hotel-wrap {
        padding: 52px 0 0;
    }
    .hotel-rooms {
        margin: 50px 0 0;
    }
    .hotel-rooms::before {
        width: 100%;
    }
    .hotel-detail{
        padding-bottom: 55px;
        padding-left: 15px;
        padding-top: 35px;
    }
    .hotel-rooms .flexslider-nav .prev {
        left: 35px;
        right: auto;
    }
    .hotel-rooms .flexslider-nav .next {
        right: 35px;
    }
    .hotel-wrap .all-photo a:before, .hotel-wrap .all-photo a:after, .hotel-wrap .border-effect::before, .hotel-wrap .border-effect::after,
    .blog-detail .all-photo a:before, .blog-detail .all-photo a:after, .blog-detail .border-effect::before, .blog-detail .border-effect::after{
        background-color: #fff;
    }
    .hotel-wrap .all-photo a, .blog-detail .all-photo a {
        color: #ffffff;
    }

    .start-frm {
        font-size: 20px;
        height: 55px;
        line-height: 55px;
        width: 155px;
    }
    .price-tag .theme-btn, .blog-bg .all-photo .theme-btn, .hotel-wrap .all-photo .theme-btn {
        min-width: 150px;
    }

    .home-blog { 
        padding: 50px 0;
    }
    .blog-bg {
        margin: 50px 0 0;
    }
    .blog-bg .all-photo {
        bottom: 0;
    }
    .blog-bg::before {
        width: 100%;
        top: 0;
    }
    .blog-detail {
        margin-bottom: 50px;
        padding-bottom: 70px;
        padding-top: 50px;
    }
    .blog-bg .flexslider-nav .prev {
        left: auto;
        right: 70px;
    }
    .blog-bg .flexslider-nav .next {
        right: 15px;
    }
    .blog-bg .flexslider-nav span {
        bottom: auto;
        top: 5%;
    }

    .testimonial-flexslider.flexslider {
        padding: 50px 20px;
    }
    .testimonial-wrap .title-wrap > p {
        font-size: 16px;
    }
    .testimonial-slider .flexslider-nav .prev {
        left: 0;
    }
    .testimonial-slider .flexslider-nav .next {
        right: 0;
    }

    .dining-wrap {
        padding: 50px 0 40px;
    }
    .theme-tabs {
        width: 100%;
    }
    .dining-item .title-1 {
        font-size: 24px;
    }
    .dining-content .isotope-item {
        padding-top: 0;
    }
    .dining-item {
        margin-bottom: 0;
    }
    .dining-item .price {
        font-size: 20px;
    }
    .contact-us {
        padding: 50px 0 20px;
    }
    .contact-detail {
        padding-left: 15px;
        padding-right: 15px;
    }

    /*Footer*/
    .footer-1 .primary-navbar > li {
        display: inline-block;
        font-size: 12px;
        margin: 10px;
        padding: 0;
    }
    .primary-navbar > li > a, .socia-link > p {font-size: 16px;}
    .primary-navbar > li + li::before {content: "";}
    .socia-link {
        text-align: left;
    }
    .flexslider {
        padding: 10px;
        margin-right: 0;
    }

}

@media (min-width:600px) and (max-width:767px) {
    /*Home*/
    .availability .details li + li {
        margin-left: 15px;
        padding-left: 15px;
    }

}

@media (max-width:599px) {  
    /*Home*/
    .availability .details li + li {
        border: medium none;
        margin-left: 15px;
        padding: 0;
    }

}
@media (max-width:567px) {
    .availability .details > ul, .availability .details {
        text-align: center;
        width: 100%;
    }
    .availability .details li {display: block;}
    .availability .details li + li {
        border: medium none;
        margin: 20px auto auto;
        padding: 0;
    }
}
@media (max-width:479px) {  
    .sub-detail {
        font-size: 12px;
    }
    /*Home*/
    .banner-content .section-title {
        font-size: 36px;
        margin-top: 0;
    }
    .banner-bg p {
        display: none;
    }
    .fullscreen-slider .flexslider-nav .next {
        right: 0;
    }
    .fullscreen-slider .flexslider-nav .prev {
        left: 0;
    }

    #map {
        height: 250px;
    }

}
@media (max-width:320px) { 
    .main-slider li [class^="col"] {
        width: 100%;
    }
    .main-slider li .col-xs-6 .content {
        display: none;
    }
    .start-frm {
        margin-bottom: 15px;
    }

}

/******************************* 
    6 - RESPONSIVE ENDS 
********************************/